* {
    /*border:2px solid red;/*dubbuging*/
}
/*
Fonts 
font-family: 'Blaka Hollow', cursive;
font-family: 'Lemonada', cursive;
*/
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px; /*dubbuging*/
    background-color: black;
    color: azure;
}


.main-container {
    display: flex;
    height: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
header{
    align-self: center;
}

.default-status {
    font-family: 'Lemonada', cursive;
    font-size: 1.2rem;
    font-weight: bold;
}

.levels-board-container{
    height: 50px;
    display: flex;
    gap: 10px;
}
.level, .level-update {
    display: none;
    font-family: 'Blaka Hollow', cursive;
    font-size: 2rem;
    margin: 0;
}

.box-container{
    display: flex;
    justify-content: center;
}
row-1, row-2 {
    display: flex;
    justify-content: space-between;
}
.box{
    margin: 15px;
    height: 100px;
    width: 100px;
    border-radius: 22.5px;
    border: 4px solid whitesmoke;
    cursor: pointer;
}
.red{
    background-color: #E0144C;
}
.green {
    background-color: #4E6C50;
}
.yellow {
    background-color: #FFFF00;
}
.blue {
    background-color: #31C6D4;
}
footer a{
    text-decoration: none;
    color: whitesmoke;
    border: 2px dotted whitesmoke;
    padding: 5px;
    border-radius: 20px;
}
.buttons-container{
    display: flex;
    margin: 20px 0;;
    justify-content: center;
    align-content: center;
    height: 40px;
}
.btn{
    align-self: center;
    font-family: 'Lemonada', cursive;
    padding: 5px 6px;
    border-radius: 20px;
    background-color: #04AA6D;
    box-shadow: 0 2px rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
    color: #fff;
}
.btn:hover {
    background-color: #3e8e41;
}
.btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
